<div *ngIf="tableMode; else create">
  <h1>Список пациентов</h1>
  <input type="button" value="Добавить" class="btn btn-outline-success" (click)="add()" />

  <table class="table table-striped mt-3">
    <thead class="thead-light">
    <tr>
      <td>ИИН</td>
      <td>ФИО</td>
      <td>Адрес</td>
      <td>Телефон</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of patients">
      <ng-template [ngIf]="patient?.id != p.id" [ngIfElse]="edit">
        <td>{{p?.iin}}</td>
        <td>{{p?.fullName}}</td>
        <td>{{p?.adress}}</td>
        <td>{{p?.telephoneNumber}}</td>
        <td>
          <button class="btn btn-sm btn-primary mr-2" (click)="editPatient(p)">Изменить</button>
          <button class="btn btn-sm btn-danger mr-2" (click)="delete(p)">Удалить</button>
          <button class="btn btn-sm btn-success" (click)="openCard(p)">Мед. карта</button>
        </td>
      </ng-template>
    </tr>
    </tbody>
  </table>
</div>

<!--шаблон для редактирования-->
<ng-template #edit>
  <td>
    <input type="text" [(ngModel)]="patient.iin" class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="patient.fullName" class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="patient.adress" class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="patient.telephoneNumber" class="form-control" />
  </td>
  <td class="wd">
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success mr-2" />
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
  </td>
</ng-template>

<!--шаблон для добавления-->
<ng-template #create>
    <h2>Новый пациент</h2>
    <div class="form-group">
      <label>ИИН</label>
      <input id="iin" name="iin" type="text" class="form-control"
             required pattern="^[0-9]{12}$"
             [(ngModel)]="patient.iin" #iin="ngModel" />
      <div *ngIf="iin.invalid && (iin.dirty || iin.touched)"
           class="alert alert-danger">
        <div *ngIf="iin.errors.required">
          Введите ИИН!
        </div>
        <div *ngIf="iin.errors.pattern">
          Неверный формат ИИН. ИИН - последовательность из 12 цифр!
        </div>
      </div></div>
    <div class="form-group">
      <label>ФИО</label>
      <input id="fio" name="fio" type="text" class="form-control"
             required
             [(ngModel)]="patient.fullName" #fio="ngModel" />
      <div *ngIf="fio.invalid && (fio.dirty || fio.touched)"
           class="alert alert-danger">
        <div *ngIf="fio.errors.required">
          Введите ФИО пациента!
        </div></div>
    </div>
    <div class="form-group">
      <label>Адрес</label>
      <input type="text" [(ngModel)]="patient.adress" class="form-control" />
    </div>
    <div class="form-group">
      <label>Телефон</label>
      <input type="text" [(ngModel)]="patient.telephoneNumber" class="form-control" />
    </div>
    <div>
      <input type="button" [disabled]="iin.invalid || fio.invalid" value="Сохранить" (click)="save()" class="btn btn-success mr-2" />
      <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </div>
</ng-template>
