<div class="mb-3 d-flex">
  <button class="btn btn-outline-info mr-2" (click)="onBack()">На главную</button>

  <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#addModal">
    Добавить запись
  </button>
</div>

<div *ngFor="let c of cardrecords">
  <div class="card mb-2">
    <div class="card-header text-primary bg-transparent border-info">
      {{c.doctor.speciality}}: {{c.doctor.fullName}}
    </div>
    <div class="card-body text-primary">
      <h2 class="card-title">{{c.diagnosis}}</h2>
      <p class="card-text">{{c.complaints}}</p>
    </div>
    <div class="card-footer text-primary bg-transparent border-info">
      {{c.visitDate | date:'dd.MM.yyyy hh:mm'}}
    </div>
  </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Новая запись мед. карты</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary">Сохранить</button>
      </div>
    </div>
  </div>
</div>

